@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}
.MuiBadge-badge {
  background-color: #ff5252 !important;
}
nav ul button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7);
}
nav ul button:hover {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7);
}
